---
layout: layouts/default.njk
---
<a href="/"><< home</a>

<header>
  <h1>{{ title }} <small>(Chapter {{ pagination.pageNumber + 1 }})</small></h1>
</header>

<ol id="chapter-nav">
<li>Chapters: </li>
{% for page in pagination.pages %}
<li><a href="/book/{{ title | slug }}/chapter/{{ loop.index }}/">{{ loop.index }}</a></li>
{% endfor%}
</ol>

<hr />

{{ content | safe }}

<ol>
  {%- for verse in chapter -%}
  <li data-label="{{ title }} {{ pagination.pageNumber + 1}}:{{ loop.index }}">{{ verse }}</li>
  {%- endfor %}
</ol>
