<!doctype html>
<html>
<head>
<title></title>
<style>
  header h1 {
    text-transform: uppercase;
  }
  header h1 span {
    font-variant: small-caps;
  }
</style>
</head>
<body>

{{ content | safe }}

</body>
</html>
